/* font-family:'Sofia Sans' 
font-family: 'Roboto Condensed';   */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Sofia+Sans&display=swap');

body{
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    height:100vh;
    width:100vw;
    margin:0;
    background-image: linear-gradient(to right,rgb(93, 0, 255), rgb(146, 2, 146));
}
#container{
    display:flex;
    flex-direction: column;
    min-width: 14rem;
    max-width: 30rem;
    margin:auto auto;
    position:relative;
    top:50%;
    transform: translateY(-50%);

    background-color: white;
    border:5px black solid;
    border-radius: 50px;
}

h1{
    font-family: 'Roboto Condensed';
    text-align:center;
    font-size: 70px;
    margin-top:0;
    background-color: black;
    color: white;
    text-shadow: 0 0 5px rgb(0, 255, 251),
    0 0 10px rgb(0, 255, 251),
    0 0 20px rgb(0, 255, 251),
    0 0 35px rgb(0, 255, 251),
    0 0 50px rgb(0, 255, 251),
    0 0 60px rgb(0, 255, 251);    
    border-radius:45px 45px 0 0;
}

.label-text{
    font-family: Sofia sans;
    font-size: 30px;
    margin: 10px 15px;
}

.checkbox-style{
    margin-top:15px;
    display:flex;
    align-items: center;
}

#out{
    border-style: none;
    padding:0px 1rem;
    flex:4 1 0%;
    /* z-index:0; */
    border-radius: 50px;
    font-family:Sofia Sans;
    font-weight: 1000;
    font-size: 1.45rem;
    overflow:visible;
    background-color: rgba(240, 248, 255, 0);
}

#output{
    display: flex;
    flex-direction: row;
    border:5px black solid ;
    border-radius: 50px;
    width:90%;
    
    margin:0 auto;
    /* z-index:2; */
    /* min-height:3rem; */
    /* overflow: visible; */
    align-items: center;
}

#copy-symbol{
    display:flex;
    padding-right: .6rem;
    float:right;
    height:3rem;
    align-items:center;
    font-weight:1000;
    font-size: 35px;
    /* cursor:pointer; */
    /* z-index:5; */
    background-color:rgba(240, 248, 255, 0)
}

#copy-button{
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    /* z-index:-1; */
    cursor:pointer;
    width:2.2rem
}

#copy-button:hover{
    opacity:.6;
}

#select-label{
    font-family: 'Roboto Condensed';
    font-size:25px;
    font-weight:bold;
    padding: 0 10px 0 1.75rem;
}

#select-div{
    margin:25px 0;
    display:flex;
    justify-content:space-between
}

#size{
    height:2.25rem;
    width:4rem;
    text-align:center;
    border:3px black solid;
    border-radius: 10px;
    font-family:'Sofia Sans';
    font-size:25px;
    font-weight:1000;
    margin-right:1.75rem;
}

option{
    font-family:'Sofia Sans';
    font-size:20px;
    font-weight: 1000;
    text-align:center;
}

#generate{
    height:3rem;
    width:12rem;
    font-family: 'Roboto Condensed';
    font-size:35px;
    font-weight: 900;
    color:white;
    background-color: purple;
    margin:0 auto 1rem auto;
    border: 5px balck solid;
    border-radius: 20px;
}
#generate:hover{
    opacity:0.8;
}

#caps, #small, #numbers, #sym{
    height:1.25rem;
    width:1.25rem;
    margin-left: 1.75rem;
}

#copyright{
    position:absolute;
    right:5%;
    bottom:10%;
    font-family: 'Roboto Condensed';
    font-size: 20px;
    font-weight: 600;
    display:flex;
    align-items: center;
    color:whitesmoke;
}


b{
    font-weight:1000;
    font-size: 21px;
}
i{
    font-weight:1000;
    font-size:30px;
    font-style: normal;
}

@media screen and (max-width:550px){
    

    body{
        display: flex;
        flex-direction: column;
    }

    #copyright{
        position: none;
        position: absolute;
        bottom: 20px;
    }

    #container{
        min-width:0;
        width:90%;
        /* margin: 1rem; */
        margin:0 auto;
    }

    .checkbox-style{
        font-size: 1rem;
    }
}

@media screen and (max-width:650px){
    .label-text{
        font-size: 1.5rem;
    }
    #copyright{
        position: absolute;
        /* left:0; */
        text-align: center;
        width:90vw;
        margin:auto;
        margin-bottom: 1rem;
    }

    #container{
        min-width:0;
        width:90%;
    }
}

@media screen and (max-width:380px) and (min-width:360px){
    #copyright{
        bottom: -160px;
    }
    #container{
        margin: 3rem 1rem;
    }
}

@media screen and (max-width:400px) and (min-width:380px){
    #copyright{
        bottom: -10px;
    }
    #container{
        /* margin: 3rem 1rem; */
        margin: -1rem 1rem;
    }
}

@media screen and (max-width:420px) and (min-width:400px){
    #container{
        margin:-70px auto;
    }
    #copyright{
        bottom:40px;
    }
}

@media screen and (max-width:600px) and (min-width:420px){
    #copyright{
        bottom:-60px;
        width:60vw;
        /* text-align: center; */
        left:0;
        margin:auto;
    }
}

@media screen and (max-width:360px){
    #copyright{
        bottom:-100px;
    }
}