/* font -families that are used in the web app */

/* font-family:'Sofia Sans' 
font-family: 'Roboto Condensed';   */

/* font-families imported from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Sofia+Sans&display=swap');

/* original CSS code for password generator web app  */

:root{
    --black:black;
    --white:white;
    --bg1:rgb(93, 0, 255);
    --bg2:rgb(146, 2, 146);
    --btn-bg:purple;
    --transparent:rgba(240, 248, 255, 0);
    --shadow:rgb(0, 255, 251);

}

*{
    margin:0;
    padding:0;
}

body{
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right,var(--bg1), var(--bg2));

}

.all{
    /* height:100vh;
    width:auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

#container{
    display:flex;
    flex-direction: column;
    max-width: 30rem;
    background-color: var(--white);
    border:5px var(--black) solid;
    border-radius: 50px;
    margin:1rem;
}

#out{
    border-style: none;
    padding:0px 1rem;
    flex:4 1 0%;
    z-index:0; 
    border-radius: 50px;
    font-family:Sofia Sans;
    font-weight: 1000;
    font-size: 1.45rem;
    overflow:hidden;
    background-color: var(--transparent);
}

#output{
    display: flex;
    flex-direction: row;
    border:5px var(--black) solid ;
    border-radius: 50px;
    width:90%;
    
    margin: 1rem auto .5rem auto;
    z-index:2; 
    min-height:3rem; 
    /* overflow: visible;  */
    justify-content: space-around;
    align-items: center;
}

#copy-symbol{
    display:flex;
    /* padding-right: .6rem; */
    margin:0 1rem 0 -0.2rem;
    /* float:right; */
    height:3rem;
    align-items:center;
    font-weight:1000;
    font-size: 35px;
    cursor:pointer; 
    z-index:5; 
    background-color:var(--transparent);
}

#copy-button{
    border-style: none;
    background-color: var(--transparent);
    z-index:-1; 
    cursor:pointer;
    width:2.2rem;
    margin-right:1rem;
}

#copy-button:hover{
    opacity:.6;
}

#select-label{
    font-family: 'Roboto Condensed';
    font-size:25px;
    font-weight:bold;
    padding: 0 10px 0 1.75rem;
}

#select-div{
    margin:25px 0;
    display:flex;
    justify-content:space-between
}

#size{
    height:2.25rem;
    width:4rem;
    text-align:center;
    border:3px var(--black) solid;
    border-radius: 10px;
    font-family:'Sofia Sans';
    font-size:25px;
    font-weight:1000;
    margin-right:1.75rem;
}

option{
    font-family:'Sofia Sans';
    font-size:20px;
    font-weight: 1000;
    text-align:center;
}

#generate{
    height:3rem;
    width:12rem;
    font-family: 'Roboto Condensed';
    font-size:35px;
    font-weight: 900;
    color:var(--white);
    background-color: var(--btn-bg);
    margin:0 auto 1rem auto;
    border: 5px var(--black) solid;
    border-radius: 20px;
}
#generate:hover{
    opacity:0.8;
}

h1{
    font-family: 'Roboto Condensed';
    text-align:center;
    font-size: 50px;
    margin-top:0;
    background-color: var(--black);
    color: var(--white);
    text-shadow: 0 0 5px var(--shadow),
    0 0 10px var(--shadow),
    0 0 20px var(--shadow),
    0 0 35px var(--shadow),
    0 0 50px var(--shadow),
    0 0 60px var(--shadow);    
    border-radius:45px 45px 0 0;
}

.label-text{
    font-family: Sofia sans;
    font-size: 20px;
    margin: 10px 15px;
}

.checkbox-style{
    margin-top:15px;
    display:flex;
    align-items: center;
}

#caps, #small, #numbers, #sym{
    height:1.25rem;
    width:1.25rem;
    margin-left: 1.75rem;
}

#copyright {
    margin: .5rem;
    text-align: center;
    color: var(--white);
    font-family: 'Roboto Condensed';
    font-size: 2rem;
    font-weight: 1000;
}

#copyright i{
    font-size: 2.5rem;
    text-decoration: none;
}

#copyright b{
    font-size: 2.5rem;
    text-decoration: none;
}

/* media queries for responsiveness */


@media screen and (max-width:450px) {
    #copyright{
        width:90vw;
    }
}

@media screen and (max-width:850px){
    #copyright {
        font-size: 1.5rem;
    }

    #copyright i{
        font-size: 2rem;
        text-decoration: none;
    }
    
    #copyright b{
        font-size: 2rem;
        text-decoration: none;
    }
}